#playPauseBtn {
    background-image: url('botao.png'); /* Adiciona a imagem como plano de fundo */
    background-size: 100% 100%; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    width: 100px; /* Define a largura do botão */
    height: 50px; /* Define a altura do botão */
    cursor: pointer;
    border: none; /* Remove a borda */
    transition: transform 0.2s;
}

#playPauseBtn:hover {
    transform: scale(1.1); /* Aumenta o botão levemente ao passar o mouse */
}

#playPauseBtn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
