/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que o corpo ocupe a tela toda */
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playPauseBtn {
    background: url('lucimara.png') no-repeat center center;
    background-size: cover; /* Ajusta a imagem para cobrir toda a área do botão */
    border: none; /* Remove a borda do botão */
    width: 300px; /* Aumenta a largura da imagem */
    height: 300px; /* Aumenta a altura da imagem */
    cursor: pointer;
    padding: 0; /* Remove o padding para que a imagem cubra todo o botão */
    transition: transform 0.2s;
}

#playPauseBtn:hover {
    transform: scale(1.1); /* Aumenta o botão levemente ao passar o mouse */
}

#playPauseBtn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Esconde os ícones de play e pause já que o botão é a própria imagem */
#playIcon, #pauseIcon {
    display: none;
}